<ul>
  <li>
    <a
      class="category"
      href="/blogs/hair-blog/tagged/the-hair-extensions-bible"
      title="The Hair Extensions Bible Posts"
    >
      <img
        src="{{ 'The_Hair_Extensions_Bible.png' | asset_url }}"
        alt="The Hair Extensions Bible"
        class=""
        loading="lazy"
        width="200"
        height="200"
      >
      <p class="category-title">The Hair Extensions Bible</p>
    </a>
  </li>
  <li>
    <a
      class="category"
      href="/blogs/hair-blog/tagged/hair-care-tips"
      title="The Hair Extensions Bible Posts"
    >
      <img
        src="{{ 'Haircare_Advise.png' | asset_url }}"
        alt="Hair Care & Tips"
        class=""
        loading="lazy"
        width="200"
        height="200"
      >
      <p class="category-title">Hair Care & Tips</p>
    </a>
  </li>
</ul>
