<div class="mobile-menu-search">
  <!-- Header Search -->
  <div class="header-search js-header-search">
    <form action="{{ routes.search_url }}">
      <input
        name="q"
        class="search-input"
        placeholder="{{ 'general.search.search' | t }}"
        type="text"
        value="{{ search.terms | escape }}"
      >
      <input class="search-submit" type="submit" value="">
      <span class="search-icon"><i class="icon icon-magnify"></i></span>
    </form>
  </div>
  <!-- /Header Search -->
</div>
