<div>

  <div><div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="5fd0f3477e75ee0001d12767" data-style-height="24px" data-style-width="100%" data-text-color="#414141">
  <a href="https://uk.trustpilot.com/review/cliphair.com" target="_blank" rel="noopener">Trustpilot</a>
</div></div>
  |
  <div>***** Yotpo</div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets": [
      {"name": "test"}
    ]
  }
{% endschema %}