{{ 'component-rating.css' | asset_url | stylesheet_tag }}
<style>
.rating-star {
  --letter-spacing: 0.8;
  --font-size: 1.7;
}

.rating-star {
  --letter-spacing: 0.7;
  --font-size: 1.4;
}

  .icon svg{
    width:10px;
  }
</style>
<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script -->
<div>

  <div><div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="5fd0f3477e75ee0001d12767" data-style-height="24px" data-style-width="100%" data-text-color="#414141">
  <a href="https://uk.trustpilot.com/review/cliphair.com" target="_blank" rel="noopener">Trustpilot</a>
</div></div>
  |
  <div>***** Yotpo</div>

    {% for i in (1..5) %}
      <span class='icon' style='width:10px;'>{% render'icon-star' %}</span>
      {% endfor %}
    {% liquid
      assign rating_decimal = 0
      assign decimal = 3.3 | modulo: 1
      if decimal >= 0.3 and decimal <= 0.7
        assign rating_decimal = 0.5
      elsif decimal > 0.7
        assign rating_decimal = 1
      endif
    %}
    <div
      class="rating"
      role="img"
      aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: 3.3, rating_max: 5 }}"
    >
      <span
        aria-hidden="true"
        class="rating-star"
        style="--rating: {{ 3.3 | floor }}; --rating-max: {{ 5 }}; --rating-decimal: {{ rating_decimal }};"
      ></span>
    </div>
    <p class="rating-text caption">
      <span aria-hidden="true">
        {{- 3.3 }} /
        {{ 5 -}}
      </span>
    </p>
    <p class="rating-count caption">
      <span aria-hidden="true">({{ 1000 }})</span>
      <span class="visually-hidden">
        {{- 1000 }}
        {{ 'accessibility.total_reviews' | t -}}
      </span>
    </p>

</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets": [
      {"name": "test"}
    ]
  }
{% endschema %}