.color-background-grey h2 {
    color: #2d2f76;
    font-size: 2.5rem;
    font-weight: 400;
}
.color-background-grey h3 {
    color: #ba69a1;
}

.product-card-wrapper .card__heading {
    text-transform: uppercase;
    color: #4a4a4a;
}
.color-background-faded-pink h2 {
    color: #2d2f76;
}
.color-background-faded-pink a, .color-background-faded-pink .accordion__title {
    color: #752e89;
}
.color-background-faded-pink p {
    color: #4a4a4a;
}

.color-background-white h2 {
    color: #2d2f76;
}
.color-background-white p {
    color: #4a4a4a;
}