/* override styles */
@media screen and (max-width: 749px) {
	.section-collection-carrousel .grid--peek.slider .grid__item:first-of-type {
		margin-left: 0;
	}

	.section-collection-carrousel .grid--peek .grid__item {
		max-width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
	}
}

@media screen and (min-width:990px) {
	.section-collection-carrousel .slider--desktop {
		scroll-padding-left: 0;
	}

	.section-collection-carrousel .slider--desktop .slider__slide:first-child {
		margin-left: 0 !important;
	}

	.section-collection-carrousel .slider--desktop.grid--1-col-desktop .grid__item {
		width: calc(100% - var(--grid-desktop-horizontal-spacing));
	}

	.section-collection-carrousel .slider--desktop.grid--2-col-desktop .grid__item {
		width: calc((100% - var(--grid-desktop-horizontal-spacing)) / 2);
	}

	.section-collection-carrousel .slider--desktop.grid--3-col-desktop .grid__item {
		width: calc((100% - var(--grid-desktop-horizontal-spacing) * 2) / 3);
	}

	.section-collection-carrousel .slider--desktop.grid--4-col-desktop .grid__item {
		width: calc((100% - var(--grid-desktop-horizontal-spacing) * 3) / 4);
	}

	.section-collection-carrousel .slider--desktop.grid--5-col-desktop .grid__item {
		width: calc((100% - var(--grid-desktop-horizontal-spacing) * 4) / 5);
	}

	.section-collection-carrousel .slider--desktop.grid--6-col-desktop .grid__item {
		width: calc((100% - var(--grid-desktop-horizontal-spacing) * 5) / 6);
	}
}

/* section styles */
.section-collection-carrousel .collection-carrousel-wrapper:not(:first-child) {
	margin-top: 6rem;
}

.section-collection-carrousel .title-wrapper {
	margin-bottom: 1.5rem;
}

.collection-carrousel-title {
	margin: 0;
}

.section-collection-carrousel .intro-wrapper p {
	margin: 0;
	line-height: 1.2em;
}


.section-collection-carrousel slider-component {
	position: relative;
	margin-top: 3rem;
}

.collection-carrousel {
	margin-top: 0;
	margin-bottom: 0;
}

.section-collection-carrousel .card .card__inner .card__media {
	border: none;
}

.section-collection-carrousel .card__information {
	padding: 0 1rem 1.3rem;
}

.section-collection-carrousel .button-wrapper {
	margin-top: 3rem;
}

@media screen and (max-width: 749px) {
	.section-collection-carrousel .title-wrapper {
		margin-bottom: 1rem;
	}

	.collection-carrousel:not(.slider) {
		padding-left: 0;
		padding-right: 0;
	}

	.section-collection-carrousel .collection-carrousel:not(.slider) {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.collection-carrousel__item:only-child {
	max-width: 100%;
	width: 100%;
}

@media screen and (max-width: 749px) {
	.slider.collection-carrousel--1-items {
		padding-bottom: 0;
	}
}

@media screen and (min-width: 750px) and (max-width: 989px) {

	.slider.collection-carrousel--1-items,
	.slider.collection-carrousel--2-items,
	.slider.collection-carrousel--3-items,
	.slider.collection-carrousel--4-items {
		padding-bottom: 0;
	}
}

@media screen and (min-width: 750px) {
	.collection-carrousel__item a:hover {
		box-shadow: none;
	}
}

/* slider buttons */
.section-collection-carrousel .slider-buttons.slider--1-col-tablet-down {
	top: calc(((100vw - 3rem - var(--grid-mobile-horizontal-spacing)) / 2) / 2 - 22px)
}

.section-collection-carrousel .slider-buttons.slider--2-col-tablet-down {
	top: calc(((100vw - 3rem - var(--grid-mobile-horizontal-spacing) * 2) / 2.3) / 2 - 22px)
}

.section-collection-carrousel .slider-buttons {
	position: absolute;
	z-index: 5;
}

.section-collection-carrousel .slider-buttons.right-slider {
	right: calc(-1.5rem - var(--grid-mobile-horizontal-spacing));
}

.section-collection-carrousel .slider-buttons.left-slider {
	left: calc(-1.5rem - var(--grid-mobile-horizontal-spacing));
}

.section-collection-carrousel .slider-button .icon {
	height: 20px;
}

@media screen and (max-width:375px) {
	.section-collection-carrousel .slider-button .icon {
		height: 15px;
	}
}

@media screen and (min-width:750px) {
	.section-collection-carrousel .slider-buttons.slider--1-col-tablet-down {
		top: calc(((100vw - 10rem - var(--grid-desktop-horizontal-spacing))) / 2 - 22px)
	}

	.section-collection-carrousel .slider-buttons.slider--2-col-tablet-down {
		top: calc(((100vw - 10rem - var(--grid-desktop-horizontal-spacing) * 2) / 2.1) / 2 - 22px)
	}

	.section-collection-carrousel .slider-buttons.right-slider {
		right: -5rem;
	}

	.section-collection-carrousel .slider-buttons.left-slider {
		left: -5rem;
	}
}

@media screen and (min-width:768px) {
	.section-collection-carrousel .slider-button .icon {
		height: 44px;
	}
}

@media screen and (max-width: 989px) {
	.section-collection-carrousel .slider-buttons:has(+ .slider--desktop:not(.slider--tablet)) {
		display: none;
	}
}

@media screen and (min-width:990px) {
	.section-collection-carrousel .slider-buttons.slider--1-col-desktop {
		top: calc((100vw - 10rem) / 2 - 22px)
	}

	.section-collection-carrousel .slider-buttons.slider--2-col-desktop {
		top: calc(((100vw - 10rem - var(--grid-desktop-horizontal-spacing)) / 2) / 2 - 22px)
	}

	.section-collection-carrousel .slider-buttons.slider--3-col-desktop {
		top: calc(((100vw - 10rem - var(--grid-desktop-horizontal-spacing) * 2) / 3) / 2 - 22px)
	}

	.section-collection-carrousel .slider-buttons.slider--4-col-desktop {
		top: calc(((100vw - 10rem - var(--grid-desktop-horizontal-spacing) * 3) / 4) / 2 - 22px)
	}

	.section-collection-carrousel .slider-buttons.slider--5-col-desktop {
		top: calc(((100vw - 10rem - var(--grid-desktop-horizontal-spacing) * 4) / 5) / 2 - 22px)
	}

	.section-collection-carrousel .slider-buttons.slider--6-col-desktop {
		top: calc(((100vw - 10rem - var(--grid-desktop-horizontal-spacing) * 5) / 6) / 2 - 22px)
	}
}