.section-visual-menu slider-component {
  display: flex;
}

.section-visual-menu .slider-button {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  padding: 0;
}

.section-visual-menu .slider-button svg {
  height: 22px;
}

.section-visual-menu .slider-button[disabled] .icon {
  opacity: 0;
}

@media screen and (max-width:749px) {
  .section-visual-menu .slider-button svg {
    height: 16px;
  }
}

.section-visual-menu .visual-menu {
  flex-grow: 1;
  margin: 0 !important;
}

.section-visual-menu .card__content {
  padding: 1rem 0;
}

.section-visual-menu .card__information {
  padding: 0;
}

@media screen and (max-width:749px) {
  .section-visual-menu .grid--peek .grid__item {
    min-width: unset;
  }

  .section-visual-menu .grid--peek.slider .grid__item:first-of-type {
    margin-left: 0;
  }

  .section-visual-menu .grid--1-col-tablet-down .grid__item {
    width: 100%;
  }

  .section-visual-menu .grid--2-col-tablet-down .grid__item {
    width: calc((100% - var(--grid-mobile-horizontal-spacing)) / 2);
  }

  .section-visual-menu .grid--3-col-tablet-down .grid__item {
    width: calc((100% - (var(--grid-mobile-horizontal-spacing) * 2)) / 3);
  }
}

@media screen and (min-width:750px) and (max-width:989px) {
  .slider--tablet.grid--peek .grid__item:first-of-type {
    margin-left: 0;
  }

  .section-visual-menu .grid--1-col-tablet-down .grid__item {
    width: 100%;
  }

  .section-visual-menu .grid--2-col-tablet-down .grid__item {
    width: calc((100% - var(--grid-desktop-horizontal-spacing)) / 2);
  }

  .section-visual-menu .grid--3-col-tablet-down .grid__item {
    width: calc((100% - (var(--grid-desktop-horizontal-spacing) * 2)) / 3);
  }
}

@media screen and (max-width:989px) {
  .section-visual-menu .slider.slider--tablet {
    scroll-padding-left: 0;
  }

  .section-visual-menu .slider--tablet::after {
    content: none;
  }
}

@media screen and (min-width:990px) {
  .section-visual-menu .slider--desktop {
    scroll-padding-left: 0;
  }

  .section-visual-menu .slider--desktop .slider__slide:first-child {
    margin-left: 0;
    scroll-margin-left: 0;
  }

  .section-visual-menu .slider--desktop::after {
    content: none;
  }

  .section-visual-menu .slider--desktop.grid--1-col-desktop .grid__item {
    width: 100%;
  }

  .section-visual-menu .slider--desktop.grid--2-col-desktop .grid__item {
    width: calc((100% - var(--grid-desktop-horizontal-spacing)) / 2);
  }

  .section-visual-menu .slider--desktop.grid--3-col-desktop .grid__item {
    width: calc((100% - (var(--grid-desktop-horizontal-spacing) * 2)) / 3);
  }

  .section-visual-menu .slider--desktop.grid--4-col-desktop .grid__item {
    width: calc((100% - (var(--grid-desktop-horizontal-spacing) * 3)) / 4);
  }

  .section-visual-menu .slider--desktop.grid--5-col-desktop .grid__item {
    width: calc((100% - (var(--grid-desktop-horizontal-spacing) * 4)) / 5);
  }

  .section-visual-menu .slider--desktop.grid--6-col-desktop .grid__item {
    width: calc((100% - (var(--grid-desktop-horizontal-spacing) * 5)) / 6);
  }
}

@media screen and (max-width:399px) {
  .section-visual-menu .grid--3-col-tablet-down .grid__item {
    width: calc((100% - var(--grid-mobile-horizontal-spacing)) / 2);
  }
}

@media screen and (min-width:1400px) {
  .section-visual-menu .grid {
    --grid-desktop-horizontal-spacing-large: calc(var(--grid-desktop-horizontal-spacing) * 2);
    column-gap: var(--grid-desktop-horizontal-spacing-large);
  }

  .section-visual-menu .slider--desktop.grid--2-col-desktop .grid__item {
    width: calc((100% - var(--grid-desktop-horizontal-spacing-large)) / 2);
  }

  .section-visual-menu .slider--desktop.grid--3-col-desktop .grid__item {
    width: calc((100% - (var(--grid-desktop-horizontal-spacing-large) * 2)) / 3);
  }

  .section-visual-menu .slider--desktop.grid--4-col-desktop .grid__item {
    width: calc((100% - (var(--grid-desktop-horizontal-spacing-large) * 3)) / 4);
  }

  .section-visual-menu .slider--desktop.grid--5-col-desktop .grid__item {
    width: calc((100% - (var(--grid-desktop-horizontal-spacing-large) * 4)) / 5);
  }

  .section-visual-menu .slider--desktop.grid--6-col-desktop .grid__item {
    width: calc((100% - (var(--grid-desktop-horizontal-spacing-large) * 5)) / 6);
  }

}